<h1>Vehicle works!</h1>

<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="client-list-wrapper">
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div class="d-flex align-items-center">
                <label class="d-flex align-items-center">
                  Mostrar
                  <select
                    class="form-control mx-25"
                    [(ngModel)]="selectedOption"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                </label>
                <button
                  class="btn btn-primary ml-2"
                  routerLink="/apps/vehicle/vehicle-create"
                  rippleEffect
                >
                  Añadir Vehículo
                </button>
              </div>
            </div>
          </div>
        </div>

        <ngx-datatable
          [rows]="rows"
          [rowHeight]="50"
          class="material"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >
          <ngx-datatable-column name="#" prop="idVehicle">
            <ng-template
              let-idVehicle="value"
              let-rowIndex="rowIndex"
              ngx-datatable-cell-template
            >
              <a
                routerLink="/apps/invoice/preview/{{ idVehicle }}"
                class="font-weight-bold"
                >#{{ rowIndex + 1 }}</a
              >
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Placa" prop="plate">
          </ngx-datatable-column>
          <ngx-datatable-column name="Nombre" prop="brand">
            <ng-template
              let-row="row"
              let-brand="value"
              ngx-datatable-cell-template
            >
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span
                    class="font-weight-bold d-block text-nowrap font-medium-1"
                    >{{ brand.marca }}</span
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Modelo" prop="model">
            <ng-template
              let-row="row"
              let-model="value"
              ngx-datatable-cell-template
            >
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span
                    class="font-weight-bold d-block text-nowrap font-medium-1"
                    >{{ model.modelo }}</span
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Color" prop="color">
            <ng-template
              let-row="row"
              let-color="value"
              ngx-datatable-cell-template
            >
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span
                    class="font-weight-bold d-block text-nowrap font-medium-1"
                    >{{ color.color }}</span
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Pasajeros" prop="passenger">
          </ngx-datatable-column>
          <ngx-datatable-column name="Tipo" prop="vehicleType">
            <ng-template
              let-row="row"
              let-vehicleType="value"
              ngx-datatable-cell-template
            >
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span
                    class="font-weight-bold d-block text-nowrap font-medium-1"
                    >{{ vehicleType.tipo_vehiculo }}</span
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Categoría brevete" prop="licenseCategory">
            <ng-template
              let-row="row"
              let-licenseCategory="value"
              ngx-datatable-cell-template
            >
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span
                    class="font-weight-bold d-block text-nowrap font-medium-1"
                    >{{ licenseCategory.breveteCategory }}</span
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Tipo combustible" prop="fuelType">
            <ng-template
              let-row="row"
              let-fuelType="value"
              ngx-datatable-cell-template
            >
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span
                    class="font-weight-bold d-block text-nowrap font-medium-1"
                    >{{ fuelType.tipo_combustible }}</span
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Acciones" [sortable]="false"  [frozenRight]="true">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex align-items-center col-actions">
                <a
                  class="mr-1"
                  routerLink="/apps/invoice/preview/{{ row.idClient }}"
                  container="body"
                  placement="top"
                  ngbTooltip="Ver"
                  ><i size="18" data-feather="eye"></i>
                </a>
                <a
                  class="mr-1"
                  routerLink="/apps/vehicle/vehicle-edit/{{ row.idClient }}"
                  container="body"
                  placement="top"
                  ngbTooltip="Editar"
                  ><i size="18" data-feather="edit"></i>
                </a>
                <a
                  class="mr-1"
                  container="body"
                  placement="top"
                  ngbTooltip="Eliminar"
                  (click)="deleteClient(row.idClient)"
                  ><i size="18" data-feather="trash"></i>
                </a>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
  </div>
</div>
