<h1></h1>

<div class="content-wrapper container-xxl p-0">
  <app-header [name]="title + ' Conductor'"></app-header>
  <div class="content-body">
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
            <form class="form-validate" [formGroup]="driverForm">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" class="form-control" placeholder="Nombre"
                      [class.is-invalid]="nameIsInvalid" formControlName="name" />
                    <span class="invalid-form" *ngIf="nameIsInvalid">
                      <small class="form-text text-danger">El nombre es requerido.</small>
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="surname">Apellidos</label>
                    <input type="text" id="surname" class="form-control" placeholder="Apellidos"
                      [class.is-invalid]="surnameIsInvalid" formControlName="surname" />
                    <span class="invalid-form" *ngIf="surnameIsInvalid">
                      <small class="form-text text-danger">El apellido es requerido.</small>
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="text" id="email" class="form-control" placeholder="Correo"
                      [class.is-invalid]="emailIsInvalid" formControlName="email" />
                    <span class="invalid-form" *ngIf="emailIsInvalid">
                      <small class="form-text text-danger">El correo es requerido.</small>
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="email">DNI</label>
                    <input type="text" id="dni" class="form-control" placeholder="DNI" [class.is-invalid]="dniIsInvalid"
                      formControlName="dni" />
                    <span class="invalid-form" *ngIf="dniIsInvalid">
                      <small class="form-text text-danger">El correo es requerido.</small>
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="type">Categoría Brevete</label>
                    <ng-select id="type" placeholder="Seleccione brevete" [items]="license$ | async"
                      formControlName="license">
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="mobilePhone">Celular</label>
                    <input type="text" class="form-control" placeholder="Celular" id="mobilePhone"
                      formControlName="phone" />
                  </div>
                </div>
                <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                  <button type="submit" (click)="submit()" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                    rippleEffect>
                    Guardar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<ng-template #toast>
  <p>{{ message }}</p>
</ng-template>