<app-trip-list [data]="tripList$ | async" [nameList]="'Viajes iniciados'" [actions]="actions"></app-trip-list>

<ng-template #modalTemplateRef let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Finalizar viaje</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="formStart">
      <div class="form-row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="startHour">Hora de fin</label>
            <ng2-flatpickr
              formControlName="endHour"
              [config]="timeOptions"
              id="endHour"
              [class.is-invalid]="isFieldInvalid('endHour')"
            ></ng2-flatpickr>
            <div *ngIf="isFieldInvalid('endHour')" class="invalid-feedback">La hora de fin es requerida.</div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="basicInput">KM final</label>
            <input formControlName="endKm" type="text" class="form-control" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="completeTrip()" rippleEffect>Finalizar</button>
  </div>
</ng-template>
