<div class="content-wrapper container-xxl p-0">
  <app-header name="Clientes"></app-header>
  <div class="content-body">
    <section class="client-list-wrapper">
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div class="d-flex align-items-center">
                <label class="d-flex align-items-center">
                  Mostrar
                  <select class="form-control mx-25" [(ngModel)]="selectedOption">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                </label>
                <button class="btn btn-primary ml-2" routerLink="/apps/client/client-create" rippleEffect>
                  Añadir Cliente
                </button>
              </div>
            </div>
          </div>
        </div>

        <ngx-datatable
          [rows]="rows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >
          <ngx-datatable-column name="#" prop="idClient" [width]="50">
            <ng-template let-idClient="value" ngx-datatable-cell-template>
              <a routerLink="/apps/invoice/preview/{{ idClient }}" class="font-weight-bold">#{{ idClient }}</a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Ruc" prop="ruc" [width]="100"> </ngx-datatable-column>
          <ngx-datatable-column name="Nombre" [width]="250">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span class="font-weight-bold d-block text-nowrap font-medium-1">{{ row.name }}</span>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Razón social" prop="businessName" [width]="50">
            <ng-template let-businessName="value" ngx-datatable-cell-template>
              <div>
                {{ businessName }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Acciones" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex align-items-center col-actions">
                <a
                  class="mr-1"
                  routerLink="/apps/invoice/preview/{{ row.idClient }}"
                  container="body"
                  placement="top"
                  ngbTooltip="Ver"
                  ><i size="18" data-feather="eye"></i>
                </a>
                <a
                  class="mr-1"
                  routerLink="/apps/client/client-edit/{{ row.idClient }}"
                  container="body"
                  placement="top"
                  ngbTooltip="Editar"
                  ><i size="18" data-feather="edit"></i>
                </a>
                <a
                  class="mr-1"
                  container="body"
                  placement="top"
                  ngbTooltip="Eliminar"
                  (click)="deleteClient(row.idClient)"
                  ><i size="18" data-feather="trash"></i>
                </a>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
  </div>
</div>
