<div class="content-wrapper container-xxl p-0">
  <app-header name="Usuarios"></app-header>
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <!-- users filter start -->
      <div class="card">
        <h5 class="card-header">Search Filter</h5>
        <div class="card-body">
          <div class="users-list-filter">
            <form>
              <div class="row">
                <div class="col-12 col-md-6">
                  <fieldset class="form-group">
                    <ng-select [items]="selectRole" [formControl]="selectedRole" name="selectedRole" bindLabel="name"
                      placeholder="Select Role" (change)="filterByRole($event)"></ng-select>
                  </fieldset>
                </div>
                <div class="col-12 col-md-6">
                  <fieldset class="form-group">
                    <ng-select [items]="selectStatus" [formControl]="selectedStatus" name="selectedStatus"
                      bindLabel="name" placeholder="Select Status" (change)="filterByStatus($event)"></ng-select>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- users filter end -->

      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center">Mostrar
                <select class="form-control mx-25" [formControl]="selectedOption">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <label class="d-flex align-items-center ml-1 ml-md-0">Search:<input [formControl]="searchValue"
                  name="searchValue" type="search" class="form-control ml-25" (keyup)="filterUpdate($event)"
                  (search)="filterUpdate($event)" />
              </label>
              <button class="btn btn-primary ml-1" (click)="goToAddUser()" rippleEffect>
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i><span
                  class="d-none d-sm-inline-block">Add New User</span>
              </button>
            </div>
          </div>
        </div>
        <ngx-datatable [rows]="rows.data" [rowHeight]="50" class="bootstrap core-bootstrap"
          [limit]="selectedOption.value" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
          [scrollbarH]="true">
          <ngx-datatable-column name="Nombre" prop="name"></ngx-datatable-column>
          <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
          <ngx-datatable-column name="Role" prop="rol">
            <ng-template let-rol="value" ngx-datatable-cell-template>
              {{ rol.rol | titlecase }}
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="Status" prop="status" [width]="50">
            <ng-template let-status="value" ngx-datatable-cell-template>
                {{ status }}
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex align-items-center col-actions">
                <a class="mr-1" routerLink="/apps/users/regedit/{{ row.idUser }}" container="body" placement="top"
                  ngbTooltip="Editar">
                  <i size="18" data-feather="edit"></i>
                </a>
                <a class="mr-1" container="body" placement="top" ngbTooltip="Eliminar" (click)="deleteUser(row.idUser)">
                  <i size="18" data-feather="trash"></i>
                </a>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
    <!--/ User List -->
  </div>
</div>

<ng-template #added>
  <p>{{ message }}</p>
</ng-template>
<ng-template #error>
  <p>No se pudo eliminar el usuario</p>
</ng-template>