<h1>{{ title }} Cliente</h1>

<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav nav-pills">
            <li ngbNavItem>
              <ng-template ngbNavContent>
                <div
                  class="tab-pane active"
                  id="account"
                  aria-labelledby="account-tab"
                  role="tabpanel"
                >
                  <form
                    class="form-validate"
                    (ngSubmit)="(accountForm.form.valid)"
                    #accountForm="ngForm"
                  >
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="ruc">Ruc</label>
                          <input
                            type="text"
                            id="ruc"
                            class="form-control"
                            placeholder="RUC"
                            name="ruc"
                            [(ngModel)]="client.ruc"
                            [class.error]="
                              accountForm.submitted && RucRef.invalid
                            "
                            #RucRef="ngModel"
                            required
                          />
                          <span
                            *ngIf="accountForm.submitted && RucRef.invalid"
                            class="invalid-form"
                          >
                            <small
                              class="form-text text-danger"
                              *ngIf="RucRef.errors.required"
                            >
                              This field is required!
                            </small>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="name">Nombre</label>
                          <input
                            type="text"
                            id="name"
                            class="form-control"
                            placeholder="Nombre"
                            name="name"
                            [(ngModel)]="client.name"
                            [class.error]="
                              accountForm.submitted && NameRef.invalid
                            "
                            #NameRef="ngModel"
                            required
                          />
                          <span
                            *ngIf="accountForm.submitted && NameRef.invalid"
                            class="invalid-form"
                          >
                            <small
                              class="form-text text-danger"
                              *ngIf="NameRef.errors.required"
                              >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="businessName">Razón social</label>
                          <input
                            type="businessName"
                            id="businessName"
                            class="form-control"
                            placeholder="Razón social"
                            name="businessName"
                            [(ngModel)]="client.businessName"
                            [class.error]="
                              accountForm.submitted && BusinessNameRef.invalid
                            "
                            #BusinessNameRef="ngModel"
                            required
                          />
                          <span
                            *ngIf="accountForm.submitted && BusinessNameRef.invalid"
                            class="invalid-form"
                          >
                            <small
                              class="form-text text-danger"
                              *ngIf="BusinessNameRef.errors.required"
                              >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button
                          type="submit"
                          (click)="submit(accountForm)"
                          class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                          rippleEffect
                        >
                          Guardar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
  </div>
</div>
