<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="driver-list-wrapper">
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div class="d-flex align-items-center">
                <label class="d-flex align-items-center">
                  Mostrar
                  <select class="form-control mx-25" [formControl]="selectedOption">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                </label>
                <button class="btn btn-primary ml-2" routerLink="/apps/trip/trip-add" rippleEffect>Añadir viaje</button>
              </div>
            </div>
          </div>
        </div>

        <ng-container *ngIf="tripList$ | async as tripList">
          <ngx-datatable
            [rows]="tripList.data"
            [rowHeight]="50"
            class="bootstrap core-bootstrap"
            [limit]="10"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
            [limit]="selectedOption.value"
          >
            <ngx-datatable-column name="#" prop="idTrip" [width]="50">
              <ng-template let-idTrip="value" ngx-datatable-cell-template>
                <a routerLink="/apps/invoice/preview/{{ idTrip }}" class="font-weight-bold">#{{ idTrip }}</a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Creado por" prop="createdBy"></ngx-datatable-column>
            <ngx-datatable-column name="Fecha" prop="date">
              <ng-template let-date="value" ngx-datatable-cell-template>
                <div>
                  {{ date | dayJs }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Origen" prop="start" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Destino" prop="end" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Hora incio" prop="startHour">
              <ng-template let-startHour="value" ngx-datatable-cell-template>
                <div>
                  {{ startHour | dayJs: 'hour' }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Hora fin" prop="endHour">
              <ng-template let-endHour="value" ngx-datatable-cell-template>
                <div>
                  {{ endHour | dayJs: 'hour' }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tipo viaje" prop="isTripStart">
              <ng-template let-isTripStart="value" ngx-datatable-cell-template>
                <div>
                  {{ isTripStart ? 'Ingreso' : 'Salida' }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Vehiculo" prop="vehicle">
              <ng-template let-vehicle="value" ngx-datatable-cell-template>
                <div>
                  {{ vehicle.placa }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Max pasajeros" prop="vehicle">
              <ng-template let-vehicle="value" ngx-datatable-cell-template>
                <div>
                  {{ vehicle.pasajeros }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Acciones" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div class="d-flex align-items-center col-actions">
                  <!-- <a
                    class="mr-1"
                    routerLink="/apps/invoice/preview/{{ row.idDriver }}"
                    container="body"
                    placement="top"
                    ngbTooltip="Ver"
                    ><i size="18" data-feather="eye"></i>
                  </a> -->
                  <a
                    class="mr-1"
                    routerLink="/apps/trip/trip-add/{{ row.idTrip }}"
                    container="body"
                    placement="top"
                    ngbTooltip="Editar"
                    ><i size="18" data-feather="edit"></i>
                  </a>
                  <!-- <a class="mr-1" container="body" placement="top" ngbTooltip="Eliminar"
                    ><i size="18" data-feather="trash"></i>
                  </a> -->
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </ng-container>
      </div>
    </section>
  </div>
</div>
