<!-- ngb-toast component -->
<ngb-toast
  *ngFor="let toast of toastService.toasts"
  [autohide]="toast.autohide"
  [delay]="toast.delay || 5000"
  [class]="toast.class"
  (hide)="toastService.remove(toast)"
>
  <!-- toast header -->
  <ng-template ngbToastHeader>
    <div class="d-flex align-items-center">
      <i *ngIf="toast.class === 'success'" data-feather="check-circle" class="mr-2 success" [size]="'24'"></i>
      <i *ngIf="toast.class === 'error'" data-feather="x-circle" class="mr-2 error" [size]="'24'"></i>
      <strong class="mr-auto toast-title">{{ toast.title }}</strong>
    </div>
  </ng-template>
  <!--/ toast header -->

  <!-- toast body -->
  <ng-template *ngTemplateOutlet="toast.template"></ng-template>
  <!--/ toast body -->
</ngb-toast>
<!--/ ngb-toast component -->
