<div class="content-wrapper container-xxl p-0 invoice">
  <app-header name="Añadir viaje"></app-header>
  <div class="content-body">
    <section class="invoice-add-wrapper">
      <form [formGroup]="formTrip">
        <div class="row invoice-add">
          <!-- Invoice Add Left starts -->
          <div class="col-xl-9 col-md-8 col-12">
            <!-- <div class="col-xl-12 col-md-12 col-12"> -->
            <div class="card invoice-preview-card">
              <!-- Address and Contact starts -->
              <div class="card-body invoice-padding invoice-header">
                <div class="row row-bill-to">
                  <div class="col-xl-7 col-bill-to">
                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="yesno">Fecha</label>
                          <ng2-flatpickr
                            [config]="dateOptions"
                            formControlName="date"
                            name="Date"
                            [class.is-invalid]="isFieldInvalid('date')"
                          ></ng2-flatpickr>
                          <div *ngIf="isFieldInvalid('date')" class="invalid-feedback">La fecha es requerida.</div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="client">Cliente</label>
                          <ng-select
                            [items]="dataForCLientsSelect$ | async"
                            labelForId="client"
                            bindLabel="value"
                            bindValue="id"
                            (change)="changeClient()"
                            formControlName="idClient"
                            [class.is-invalid]="isFieldInvalid('idClient')"
                          >
                          </ng-select>
                          <div *ngIf="isFieldInvalid('idClient')" class="invalid-feedback">
                            El cliente es requerido.
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="driver">Conductor</label>
                          <ng-select
                            [items]="dataForDriversSelect$ | async"
                            labelForId="driver"
                            bindLabel="value"
                            bindValue="id"
                            formControlName="idDriver"
                            [class.is-invalid]="isFieldInvalid('idDriver')"
                          >
                          </ng-select>
                          <div *ngIf="isFieldInvalid('idDriver')" class="invalid-feedback">
                            El conductor es requerido.
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="vehicle">Vehiculo</label>
                          <ng-select
                            [items]="dataForVehicleSelect$ | async"
                            labelForId="vehicle"
                            bindLabel="value"
                            bindValue="id"
                            formControlName="idVehicle"
                            [class.is-invalid]="isFieldInvalid('idVehicle')"
                          >
                          </ng-select>
                          <div *ngIf="isFieldInvalid('idVehicle')" class="invalid-feedback">
                            El vehículo es requerido.
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="basicInput">Destino de origen</label>
                          <input
                            formControlName="start"
                            type="text"
                            class="form-control"
                            [class.is-invalid]="isFieldInvalid('start')"
                          />
                          <div *ngIf="isFieldInvalid('start')" class="invalid-feedback">
                            El destino de origen es requerido.
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="basicInput">Destino de llegada</label>
                          <input
                            formControlName="end"
                            type="text"
                            class="form-control"
                            [class.is-invalid]="isFieldInvalid('end')"
                          />
                          <div *ngIf="isFieldInvalid('end')" class="invalid-feedback">
                            El destino de llegada requerido.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-5 pl-0 pl-xl-1 pl-md-0 mt-xl-0 mt-2">
                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Tipo de viaje</label>
                          <div class="custom-switch-viaje">
                            <p>Ingreso</p>
                            <div class="custom-control custom-control-primary custom-switch">
                              <input
                                formControlName="isTripStart"
                                type="checkbox"
                                checked
                                class="custom-control-input"
                                id="customSwitch3"
                              />
                              <label class="custom-control-label" for="customSwitch3"></label>
                            </div>
                            <p>Salida</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label>KM Inicio</label>
                          <input type="text" id="kmInicio" class="form-control" formControlName="startKm" />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="endKm">KM Fin</label>
                          <input type="text" id="endKm" class="form-control" formControlName="endKm" />
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="startHour">Hora inicio</label>
                          <ng2-flatpickr
                            formControlName="startHour"
                            [config]="timeOptions"
                            id="startHour"
                            [class.is-invalid]="isFieldInvalid('startHour')"
                          ></ng2-flatpickr>
                          <div *ngIf="isFieldInvalid('startHour')" class="invalid-feedback">
                            La hora de inicio es requerida.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="endHour">Hora fin</label>
                          <ng2-flatpickr
                            id="endHour"
                            formControlName="endHour"
                            [config]="timeOptions"
                            name="time"
                            [class.is-invalid]="isFieldInvalid('endHour')"
                          ></ng2-flatpickr>
                          <div *ngIf="isFieldInvalid('endHour')" class="invalid-feedback">
                            La hora de fin es requerida.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Address and Contact ends -->

              <!-- Product Details starts -->
              <div class="card-body invoice-padding invoice-product-details">
                <div class="row mb-2">
                  <h3>Pasajeros</h3>
                </div>
                <div
                  class="repeater-wrapper"
                  *ngFor="let passanger of passangersFieldAsFormArray.controls; let i = index"
                  formArrayName="passangers"
                  @heightIn
                >
                  <div [formGroupName]="i" class="row">
                    <div class="col-12 d-flex product-details-border position-relative pr-0">
                      <div class="row w-100 pr-1 py-2">
                        <div class="col-lg-4 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                          <div class="form-group">
                            <label>DNI</label>
                            <input
                              #dniWorker
                              (keyup)="getWorkerByDni(dniWorker.value, i)"
                              formControlName="dni"
                              type="text"
                              [id]="'dni-' + i"
                              class="form-control"
                              [class.is-invalid]="isFieldWorkerInvalid(i, 'dni')"
                            />
                            <div *ngIf="isFieldWorkerInvalid(i, 'dni')" class="invalid-feedback">
                              El dni es requerido.
                            </div>
                            <!-- <span *ngIf="'text' | isValidInput">hola</span> -->
                            <!-- {{ dniWorker | json }} -->
                          </div>
                        </div>
                        <div class="col-lg-4 col-12 my-lg-0 my-2">
                          <label>Nombres</label>
                          <input
                            formControlName="names"
                            type="text"
                            id="nombres-{{ i }}"
                            class="form-control"
                            [class.is-invalid]="isFieldWorkerInvalid(i, 'names')"
                          />
                          <div *ngIf="isFieldWorkerInvalid(i, 'names')" class="invalid-feedback">
                            Los nombres son requeridos.
                          </div>
                        </div>
                        <div class="col-lg-4 col-12 my-lg-0 my-2">
                          <label [for]="'area-' + i">Area</label>
                          <ng-select
                            [items]="dataForAreaSelect$ | async"
                            [labelForId]="'area-' + i"
                            bindLabel="value"
                            bindValue="id"
                            formControlName="idArea"
                            [class.is-invalid]="isFieldWorkerInvalid(i, 'idArea')"
                          >
                          </ng-select>
                          <div *ngIf="isFieldWorkerInvalid(i, 'idArea')" class="invalid-feedback">
                            El area es requerida.
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-flex flex-column align-items-center justify-content-between border-left invoice-product-actions py-50 px-25"
                      >
                        <button (click)="deleteItem(i)" type="button" class="btn p-0">
                          <i data-feather="x" [size]="18" class="cursor-pointer"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-12 px-0 text-right">
                    <button type="button" class="btn btn-primary btn-sm btn-add-new" (click)="addItem()" rippleEffect>
                      <i data-feather="plus" class="mr-25"></i>
                      <span class="align-middle">Add Item</span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Product Details ends -->

              <!-- Invoice Total starts -->
              <!-- <div class="card-body invoice-padding">
              <div class="row invoice-sales-total-wrapper">
                <div class="col-md-6 order-md-1 order-2 mt-md-0 mt-3">
                  <div class="d-flex align-items-center mb-1">
                    <label for="salesperson" class="form-label">Salesperson:</label>
                    <input type="text" class="form-control ml-50" id="salesperson" placeholder="Edward Crowley" />
                  </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end order-md-2 order-1">
                  <div class="invoice-total-wrapper">
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Subtotal:</p>
                      <p class="invoice-total-amount">$1800</p>
                    </div>
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Discount:</p>
                      <p class="invoice-total-amount">$28</p>
                    </div>
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Tax:</p>
                      <p class="invoice-total-amount">21%</p>
                    </div>
                    <hr class="my-50" />
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Total:</p>
                      <p class="invoice-total-amount">$1690</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
              <!-- Invoice Total ends -->

              <!-- <hr class="invoice-spacing mt-0" /> -->
              <!-- 
              <div class="card-body invoice-padding py-0">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group mb-2">
                      <label for="note" class="form-label font-weight-bold">Note:</label>
                      <textarea class="form-control" rows="2" id="note">
It was a pleasure working with you and your team. We hope you will keep us in mind for future freelance projects. Thank You!</textarea
                      >
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <!-- Invoice Add Left ends -->

          <!-- Invoice Add Right starts -->
          <div class="col-xl-3 col-md-4 col-12 mt-md-0 mt-2">
            <div class="card">
              <div class="card-body">
                <button (click)="sendForm()" class="btn btn-primary btn-block mb-75" rippleEffect>Crear viaje</button>
                <!-- <button class="btn btn-outline-primary btn-block mb-75" rippleEffect>Preview</button>
                <button type="button" class="btn btn-outline-primary btn-block" rippleEffect>Save</button> -->
              </div>
            </div>
          </div>
          <!-- Invoice Add Right ends -->
        </div>
      </form>
    </section>
  </div>

  <!-- Add New Customer Sidebar -->
  <!-- <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="invoide-add-sidebar"
    overlayClass="modal-backdrop"
  >
    <app-add-customer-sidebar></app-add-customer-sidebar>
  </core-sidebar> -->
  <!--/  Add New Customer Sidebar -->
</div>
